html
  head
    style.
      #button1{
      width: 800px;
      height: 100px;
      'margin-left: 3px;
      float:left;
      }
      html {
      height: 100%;
      }
      body {
      height: 100%;
      margin: 0;
      background: linear-gradient(180deg, #687194 0%, #989eb6 20%, #ced2dd 80%) fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: Arial, Helvetica, sans-serif
      }
      #button2{
      width: 800px;
      height: 100px;
      float:right;
      display:inline;
      }
      #container{
      text-align: center;
      }
      .container {
      text-align: center;
      
      }
      .box {
      text-align: center;
      background-color: lightgrey;
      margin: auto;
      width: 100;
      padding: 50px;
      margin: 20px;
      }

    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  body
    #container
      div(style='background-color:#3b4674;color:white;padding:20px;')
        h1(style='color:white; font-family: Helvetica; font-size: 50px;')  AU LIBRARY 
      br
      br
   .container
        a.btn.btn-danger.btn-lg.active(href='/enrollment', role='button', aria-pressed='true') Enrollment 
        |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        a.btn.btn-primary.btn-lg.active(href='/identification', role='button', aria-pressed='true' ) Identification
        br
        br
        br
        br       
             
    .container
       img(border='0', alt='W3Schools', src='https://thaiteachers.files.wordpress.com/2011/11/sglogo.png', width='250', height='250')
