html
  head
    style.
      html {
      height: 100%;
      }
      body {
      height: 100%;
      margin: 0;
      background: linear-gradient(180deg, #687194 0%, #989eb6 20%, #ced2dd 80%) fixed;
      background-size: cover;
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-attachment: fixed;
      font-family: Arial, Helvetica, sans-serif
      }
      #button1{
      width: 400px;
      height: 50px;
      }
      #button2{
      width: 400px;
      height: 50px;
      }
      #container{
      text-align: center;
      }
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
  body
    #container
      div(style='background-color:#3b4674;color:white;padding:20px;')
        h1(style='color:white;')  AU LIBRARY 
      br
      br
      h3(style='color:DarkGreen;')  Successfuly enrolled!! 
      br
      a.btn.btn-danger.btn-lg.active(href='/', role='button', aria-pressed='true') GO BACK
